.article p {
  font-size: 20px;
  margin: 15px 0;
}

.article p img {
  margin: 0 auto;
}

.article ul {
  margin: 10px 0;
}

.article li {
  list-style: inside;
  font-size: 20px;
}

.article h1 {
  line-height: 1;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 30px 0 50px;
}

.article__time {
  margin: 20px 0;
}
